div {
    background-color: white;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
div2 {
    background-color: black;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

